{% extends 'base.html'%}

{% block head %}
<title>Update Freezer</title>

{% endblock %}

{% block body %}
<div class = "content">
    <!--<h1 style="text-align: center">Update Task</h1>-->
    
    
    <form action="/change_password" method='post' align = 'center'>
        
        
        <label for="pass">New Password (4 characters minimum):</label>
    <input type="password" id="pass" name="password"
           minlength="4" required>
        <button type="submit" class="btn btn-success">Change</button>
    
    
    </form>


</div>


{% endblock %}