{% extends 'base.html'%}

{% block head %}
<title>Analysis</title>
{% endblock %}
{% block body %}
<div class = "content">
    <h2 style="color: blue; text-align: center"> Hello {{current_user.user_name}}</h2><br>

<div class = "subb" style="margin:0 auto;">
    <h3 style="color: blue; text-align: center"> Rainfall</h3><br>
    <h3 style="color: blue; text-align: center"> {{year}}  Monthly totals and daily averages</h3><br>
    <p style="color: darkslateblue;text-align: center"> ---month- -----total/mm --- average/mm<br> </p>
    {% for each in result %}
 
<p style="color: blue;text-align: center"> {{each[0]}} ----- {{each[1]}} -------- {{each[2]}}-- </p>
{% endfor %}

</div><br><br>
    <div class = "subb" style="margin:0 auto;">
     <h3 style="color: blue; text-align: center">  {{year}} data</h3><br>
        {% for row in data %}
    <p style="color: blue;text-align: center">There was {{ row[1] }}mm of rain in {{row[3]}} <br> </p>
    {% endfor %}

    </div>
    
    <br><br><br><br>
    

    </div>
{% endblock %}
   